* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("2tap.jpg"); 
  background-size: cover;  
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  font-family: "inter-uniquifier";
  font-style: italic;
  font-weight: bold;
}

#btn-active {
  color: white;
}

.grid-container > div {
  font-size: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.portfolio {
  grid-column: 1 / 11;
  padding: 5vh 0 3vh 0;
}

.portfolio h1 {
  display: flex;
  justify-content: center;
  color: cyan;
  text-shadow: 
    -2px -2px 0 black,  
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black; 
}

.navigation {
  grid-column: 1 / 11;
  padding: 2vh 0 5vh 0;
}

.navigation ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 13vh;
  transition: all 0.3s ease; 
}

.navigation li {
  font-size: 5.5vh;
}

.navigation a {
  color: deepskyblue;
  text-decoration: none;
}

.profile-pic {
  grid-column: 1 / 2;
  padding: 30px;
}

.profile-pic img {
  width: 30vw;
  height: auto;
  border-radius: 0; 
}

.info {
  grid-column: 2 / 11;
  padding: 30px;
}

.info ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: start;
}

.info li:nth-child(1) {
  color: cyan;
  font-size: 5.5vh;
  padding-bottom: 10vh;
}

.info li:nth-child(2) {
  color: #FF8181;
  font-size: 5.5vh;
}

.footer {
  grid-column: 1/11;
  text-align: center;
}

p {
  color: aqua;
}

.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.menu-bar {
  display: none !important;
  cursor: pointer; 
}

.navigation ul.show {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2vh 0 2vh 0;
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  gap: 3vh;
  z-index: 999;
}

@media screen and (max-width: 1700px) {
  .portfolio {
    grid-column: 1 / 11;
    padding: 5vh 0 6vh 0;
    display: flex;
    align-items: center;
    justify-content: center; 

    h1 {
      font-size: 5.3vh;
      margin: 0;
    }
  }

  .navigation {
    grid-column: 1 / 11;
    grid-row: 2 / 2;
    padding: 0 0vh 7vh 0; 

    ul {
      gap: 10vh;
    }

    li {
      font-size: 5.3vh;
    }

    a {
      color: deepskyblue;
      text-decoration: none;
    }

    .menu-bar {
      display: none !important;

    }
    
  }

  .profile-pic {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
    padding: 0 5vh 3vh 0;
    display: flex;
    justify-content: center;

    img {
      width: 37vw;
    }
  }

  .info {
    grid-column: 3 / 11;
    grid-row: 3 / 3;
    padding: 1vh 0 0 0;

    ul {
      display: flex;
      list-style: none;
      flex-direction: column;
      justify-content: start;
      padding: 0;
      margin: 0;
    }

    li:nth-child(1) {
      font-size: 5.3vh;
      padding-bottom: 10vh;
    }

    li:nth-child(2) {
      font-size: 5.3vh;
    }
  }
}

@media screen and (max-width: 1400px) {
  .portfolio {
    grid-column: 1 / 11;
    padding: 5vh 0 6vh 0;
    display: flex;
    align-items: center;
    justify-content: center; 

    h1 {
      font-size: 4.8vh;
      margin: 0;
    }
  }

  .navigation {
    grid-column: 1 / 11;
    grid-row: 2 / 2;
    padding: 0 0vh 7vh 0; 

    ul {
      gap: 10vh;
    }

    li {
      font-size: 4.8vh;
    }

    a {
      color: deepskyblue;
      text-decoration: none;
    }

    .menu-bar {
      display: none !important;

    }
  }

  .profile-pic {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
    padding: 0 5vh 3vh 0;
    display: flex;
    justify-content: center;

    img {
      width: 40vw;
    }
  }

  .info {
    grid-column: 3 / 11;
    grid-row: 3 / 3;
    padding: 1vh 0 0 0;

    ul {
      display: flex;
      list-style: none;
      flex-direction: column;
      justify-content: start;
      padding: 0;
      margin: 0;
    }

    li:nth-child(1) {
      font-size: 4.8vh;
      padding-bottom: 10vh;
    }

    li:nth-child(2) {
      font-size: 4.8vh;
    }
  }
}

@media screen and (max-width: 1200px) {
  .portfolio {
    grid-column: 1 / 11;
    padding: 5vh 0 6vh 0;
    display: flex;
    align-items: center;
    justify-content: center; 

    h1 {
      font-size: 4.4vh;
      margin: 0;
    }
  }

  .navigation {
    grid-column: 1 / 11;
    grid-row: 2 / 2;
    padding: 0 0vh 7vh 0; 

    ul {
      gap: 10vh;
    }

    li {
      font-size: 4.4vh;
    }

    a {
      color: deepskyblue;
      text-decoration: none;
    }

    .menu-bar {
      display: none !important;

    }
  }

  .profile-pic {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
    padding: 0 5vh 3vh 0;
    display: flex;
    justify-content: center;

    img {
      width: 37vw;
    }
  }

  .info {
    grid-column: 3 / 11;
    grid-row: 3 / 3;
    padding: 1vh 0 0 0;

    ul {
      display: flex;
      list-style: none;
      flex-direction: column;
      justify-content: start;
      padding: 0;
      margin: 0;
    }

    li:nth-child(1) {
      font-size: 4.4vh;
      padding-bottom: 4vh;
    }

    li:nth-child(2) {
      font-size: 4.4vh;
    }
  }
}


@media screen and (max-width: 1000px) {
  .portfolio {
    grid-column: 1 / 11;
    padding: 5vh 0 6vh 0;
    display: flex;
    align-items: center;
    justify-content: center; 

    h1 {
      font-size: 3.7vh;
      margin: 0;
    }
  }

  .navigation {
    grid-column: 1 / 11;
    grid-row: 2 / 2;
    padding: 0 0vh 7vh 0; 

    ul {
      gap: 10vh;
    }

    li {
      font-size: 3.7vh;
    }

    a {
      color: deepskyblue;
      text-decoration: none;
    }

    .menu-bar {
      display: none !important;

    }
  }

  .profile-pic {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
    padding: 0 5vh 3vh 0;
    display: flex;
    justify-content: center;

    img {
      width: 37vw;
    }
  }

  .info {
    grid-column: 3 / 11;
    grid-row: 3 / 3;
    padding: 1vh 0 0 0;

    ul {
      display: flex;
      list-style: none;
      flex-direction: column;
      justify-content: start;
      padding: 0;
      margin: 0;
    }

    li:nth-child(1) {
      font-size: 3.4vh;
      padding-bottom: 3vh;
    }

    li:nth-child(2) {
      font-size: 3.4vh;
    }
  }
}

@media screen and (max-width: 800px) {
  .portfolio {
    grid-column: 1 / 11;
    padding: 5vh 0 3vh 0;
    display: flex;
    align-items: center;
    justify-content: center; 

    h1 {
      font-size: 3.7vh;
      margin: 0;
    }
  }

  .navigation {
    grid-column: 1 / 11;
    grid-row: 2 / 2;
    padding: 0 0vh 4vh 0; 

    ul {
      gap: 10vh;
    }

    li {
      font-size: 3.2vh;
    }

    a {
      color: deepskyblue;
      text-decoration: none;
    }

    .menu-bar {
      display: none !important;

    }
  }

  .profile-pic {
    grid-column: 1 / 11;
    grid-row: 3 / 3;
    padding: 0 0 3vh 0;
    display: flex;
    justify-content: center;

    img {
      width: 45vw;
    }
  }

  .info {
    grid-column: 1 / 11;
    grid-row: 4 / 4;
    padding: 1vh;
    text-align: center;

    ul {
      display: flex;
      list-style: none;
      flex-direction: column;
      justify-content: start;
      padding: 0;
      margin: 0;
    }

    li:nth-child(1) {
      font-size: 3.2vh;
      padding-bottom: 3vh;
    }

    li:nth-child(2) {
      font-size: 3.2vh;
    }
  }
}

@media screen and (max-width: 600px) {
  .portfolio {
    grid-column: 1 / 11;
    padding: 1vh 0 3vh 0;
    display: flex;
    align-items: center;
    justify-content: center; 

    h1 {
      font-size: 3.2vh;
      margin: 0;
    }
  }

  .navigation {
    grid-column: 1 / 11;
    grid-row: 1 / 1;
    padding: 0 2vh; 

    ul {
      display: none;
    }

    a {
      color: deepskyblue;
      text-decoration: none;
    }

    .navigation ul {
      display: none; 
    }

    .menu-bar {
      font-size: 2vh;
      color: cyan;
      float: left;
      display: block !important;
      padding-left: 2vh; 
      position: relative;
      top: 3.5vh;
    }
}
  }

  .profile-pic {
    grid-column: 1 / 11;
    grid-row: 3 / 3;
    padding: 0 0 3vh 0;
    display: flex;
    justify-content: center;

    img {
      width: 45vw;
    }
  }

  .info {
    grid-column: 1 / 11;
    grid-row: 4 / 4;
    padding: 1vh;
    text-align: center;

    ul {
      display: flex;
      list-style: none;
      flex-direction: column;
      justify-content: start;
      padding: 0;
      margin: 0;
    }

    li:nth-child(1) {
      font-size: 2.8vh;
      padding-bottom: 3vh;
    }

    li:nth-child(2) {
      font-size: 2.8vh;
    }
  }
    p {
      font-size: 2vh;
    }
  


@media screen and (max-width: 400px) {
  .portfolio {
    grid-column: 1 / 11;
    padding: 1vh 0 3vh 0;
    display: flex;
    align-items: center;
    justify-content: center; 

    h1 {
      font-size: 2.7vh;
      margin: 0;
    }
  }

  .navigation {
    grid-column: 1 / 11;
    grid-row: 1 / 1;
    padding: 0 2vh; 

    ul {
      display: none;
    }

    a {
      color: deepskyblue;
      text-decoration: none;
    }

    .menu-bar {
      font-size: 2vh;
      color: cyan;
      float: left;
      display: block !important;
      padding-left: 1vh; 
      position: relative;
      top: 3.4vh; 
    }
  }

  .profile-pic {
    grid-column: 1 / 11;
    grid-row: 3 / 3;
    padding: 0 0 3vh 0;
    display: flex;
    justify-content: center;

    img {
      width: 45vw;
    }
  }

  .info {
    grid-column: 1 / 11;
    grid-row: 4 / 4;
    padding: 1vh;
    text-align: center;

    ul {
      display: flex;
      list-style: none;
      flex-direction: column;
      justify-content: start;
      padding: 0;
      margin: 0;
    }

    li:nth-child(1) {
      font-size: 2.3vh;
      padding-bottom: 3vh;
    }

    li:nth-child(2) {
      font-size: 2.3vh;
    }
  }

    p {
      font-size: 1.5vh;
    }
}

@media screen and (max-width: 300px) {
  .portfolio {
    grid-column: 1 / 11;
    padding: 1vh 0 3vh 0;
    display: flex;
    align-items: center;
    justify-content: center; 

    h1 {
      font-size: 2.5vh;
      margin: 0;
    }
  }

  .navigation {
    grid-column: 1 / 11;
    grid-row: 1 / 1;
    padding: 0 2vh; 

    ul {
      display: none;
    }

    a {
      color: deepskyblue;
      text-decoration: none;
    }

    .menu-bar {
      font-size: 2vh;
      color: cyan;
      float: left;
      display: block !important;
      padding-left: 1vh;
      position: relative;
      top: 3.3vh;
    }
  }

  .profile-pic {
    grid-column: 1 / 11;
    grid-row: 3 / 3;
    padding: 0 0 3vh 0;
    display: flex;
    justify-content: center;

    img {
      width: 40vw;
    }
  }

  .info {
    grid-column: 1 / 11;
    grid-row: 4 / 4;
    padding: 1vh;
    text-align: center;

    ul {
      display: flex;
      list-style: none;
      flex-direction: column;
      justify-content: start;
      padding: 0;
      margin: 0;
    }

    li:nth-child(1) {
      font-size: 2vh;
      padding-bottom: 3vh;
    }

    li:nth-child(2) {
      font-size: 2vh;
    }
  }

      p {
      font-size: 1.5vh;
    }
}
